services:
  phpinfo:
    deploy:
      mode: replicated
      placement:
        constraints:
          - node.role == worker
      replicas: 2
    image: index.docker.io/academiaonline/simplilearn-phpinfo-2021-06:latest
    ports:
      - 80:8080
version: '3.8'
